@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;800&display=swap');

html {
	height: 100vh;
	overflow-y: hidden;
}
body {
	height: 100%;
	background-color: #06032c;
	color: #eadaff;
	font-family: 'Bebas Neue';
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.image-wrapper {
	width: 12rem;
	height: 12rem;
}

.image-wrapper svg {
	width: 12rem;
	height: 12rem;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
}

.content-wrapper h1 {
	text-align: center;
	font-size: 4rem;
	letter-spacing: 0.3rem;
}

.content-wrapper {
	font-family: 'Inter';
}

.content-wrapper a {
	color: #27a68e;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.image-wrapper {
		width: 9rem;
		height: 9rem;
	}

	.image-wrapper svg {
		width: 9rem;
		height: 9rem;
	}
	.content-wrapper h1 {
		text-align: center;
		font-size: 2rem;
		letter-spacing: 0.1rem;
	}

	.content-wrapper {
		font-size: 0.8rem;
		text-align: center;
	}

	.content-wrapper a {
		color: #27a68e;
		font-weight: 800;
		text-decoration: none;
	}
}
